.Footer{
    background-color: #2B5450;
    color: white;
    height: 10vh;

    .container{
        height: 100%;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }


}