.Highlights{
    height: 100%;
    background-color: #2B5450;
    color: #fff;

    &__header{
        text-align: center;
        padding-top: 7rem;
        padding-bottom: 1rem;

        h2{
            font-size: 4rem;
            font-weight: 700;
            padding-bottom: 2rem;
            font-family: 'playlistscript';
        }

        p{
            font-size: 1.5rem;
        }
    }

    &__boxer{
        padding-bottom: 4rem;
    }

    &__box{
        background-color: #fff;
        margin: 2rem;
        padding: 2rem 1.5rem;
        color: black;
        border-radius: 5px;
     

    }

    &__icon{
        text-align: center;
    }

    .fas, .fab{
        font-size: 4rem;
    }

    

    &__text{
        h3{
            font-size: 1.7rem;
            font-weight: 700;
            margin-bottom: 0.7rem;
        }

        p{
            font-size: 1.2rem;
            font-style: italic;
        }



    }

}